<html>
    <head>
        <title>Social Network Project</title>
        <style>
            table, th, td {
               border: 1px solid black;
               border-spacing: 0px;
            }
            th, td {
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <br />
        <h2>Sign Up to our innovative social network!</h2>
        <form action="/signUp" method="GET">
            FirstName <input type="text" id="fn" name="fn" /><br />
            LastName <input type="text" id="ln" name="ln" /><br />
            Email <input type="text" id="em" name="em" /><br />
            <input type="submit" value="Sign Up"/>
        </form>
    </body>
</html>